# 设置 npm 镜像源
registry=https://registry.yarnpkg.com

# # 设置 npm 仓库认证信息
# //registry.npm.taobao.org/:_authToken=your-token

# # 控制包的安装、发布等行为
# save-exact=false
# save-dev=false

# # 设置环境变量
# env=development

# 常见的 .npmrc 配置项
# registry：指定 npm 的注册表地址，默认为 https://registry.npmjs.org/。
# _authToken：设置仓库认证令牌。
# save-exact：设置为 true 时，安装的包版本会被锁定。
# save-dev：设置为 false 时，安装的包不会被保存到 devDependencies。
# env：设置环境变量，可以在脚本中使用。